<h1>Currency pairs</h1>

<% params %>

<!-- /views/flexible.erb -->

<ul>
  <% @currencies.each do |currency_code, currency_description|%>
    <li>
      <a href="/<%= currency_code %>">
        Convert 1 <%= currency_code %> to...
      </a>
    </li>
  <% end %>
</ul>
